ci-tec-key
ci-tec-key.pub
.flac
.pt
AudioData
AudioTensors
AudioTensors_data_augmentation
checkpoints
ffmpeg-8.0.1-full_build-shared
u2018_clc2018_v2020_20u1_raster100m/
u2018_clc2018_v2020_20u1_raster100m.zip
runs
AudioTensors_freq
AudioTensors_denoised
XenoCanto
augmented_data_denoised
XenoCanto_denoised
AudioTensors_denoised_cut
XenoCantoTensors
AudioTensors_cut
XenoCanto_denoised_cut
augmented_data_denoised_cut
